<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link href="./style.css" rel="stylesheet" />
</head>
<body>
<div>
    <div class="page-connexion-container">
        <h1 class="h1">UV&apos;helper</h1>
        <span class="page-connexion-text1">Identifiant :</span>
        <input type="text" required="required" class="page-connexion-textinput input" />
        <span class="page-connexion-text2">Mot de passe :</span>
        <input
                type="password"
                required="required"
                class="page-connexion-textinput1 input"
        />
        <a href="liste-patients.html" class="page-connexion-navlink button">
            <span><span>Se connecter</span></span>
        </a>
        <a href="page-inscription.html" class="page-connexion-navlink1 button">
            <span><span>S&apos;inscrire</span></span>
        </a>
    </div>
</div>

</body>
</html>