<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link href="./style.css" rel="stylesheet" />
</head>
<body>
<div>

  <div class="page-inscription-container">
    <h1 class="h1">UV&apos;helper</h1>
    <div class="page-inscription-container1">
      <div class="page-inscription-container2">
        <span class="page-inscription-text01">Prénom :</span>
        <input type="text" class="page-inscription-textinput input" />
        <span class="page-inscription-text02">Profession :</span>
        <span class="page-inscription-text03"></span>
        <input type="text" class="page-inscription-textinput1 input" />
        <span class="page-inscription-text04">Mot de passe :</span>
        <input type="password" class="page-inscription-textinput2 input" />
      </div>
      <div class="page-inscription-container3">
        <div class="page-inscription-container4">
          <span class="page-inscription-text05">Nom :</span>
          <input type="text" class="page-inscription-textinput3 input" />
          <span class="page-inscription-text06">E-mail :</span>
          <span class="page-inscription-text07"></span>
          <input type="email" class="page-inscription-textinput4 input" />
          <span class="page-inscription-text08">
            Confirmation mot de passe:
          </span>
          <input type="password" class="page-inscription-textinput5 input" />
        </div>
      </div>
    </div>
    <button class="page-inscription-button button">
      <span class="page-inscription-text09">S&apos;inscrire</span>
    </button>
  </div>
</div>
</body>
</html>